.gallery {
  padding: 40px;
  background: #fff;
  text-align: center;
}

.gallery h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #6f4e7c;
}

.gallery-tabs {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.gallery-tabs button {
  padding: 0.5rem 1.5rem;
  border: none;
  background-color: #222;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.gallery-tabs button.active,

.gallery-tabs button:hover {
  background-color: #555;
}

.mySwiper {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  height: 600px;
  overflow: hidden;
}

.mySwiper img {
  width: auto;
  height: 100%;
  object-fit: contain;
  margin: 0 auto;
  display: block;
}
