.unavailable-container {
  text-align: center;
  padding: 100px 20px;
  font-family: 'Arial', sans-serif;
  color: #444;
}

.unavailable-container h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.unavailable-container p {
  font-size: 1.1rem;
  color: #777;
}
